//
// Icon Font: geoblacklight-icons
//

@font-face {
  font-family: "geoblacklight-icons";
  src: font-url("geoblacklight-icons.eot");
  src: font-url("geoblacklight-icons.eot?#iefix") format("embedded-opentype"),
       font-url("geoblacklight-icons.woff") format("woff"),
       font-url("geoblacklight-icons.ttf") format("truetype"),
       font-url("geoblacklight-icons.svg#geoblacklight-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "geoblacklight-icons";
    src: font-url("geoblacklight-icons.svg#geoblacklight-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.geoblacklight-baruch-cuny:before,
.geoblacklight-berkeley:before,
.geoblacklight-cd-rom:before,
.geoblacklight-chicago:before,
.geoblacklight-columbia:before,
.geoblacklight-dvd-rom:before,
.geoblacklight-harvard:before,
.geoblacklight-illinois:before,
.geoblacklight-image:before,
.geoblacklight-indiana:before,
.geoblacklight-iowa:before,
.geoblacklight-lewis-clark:before,
.geoblacklight-line:before,
.geoblacklight-maryland:before,
.geoblacklight-massgis:before,
.geoblacklight-michigan:before,
.geoblacklight-michigan-state:before,
.geoblacklight-minnesota:before,
.geoblacklight-mit:before,
.geoblacklight-mixed:before,
.geoblacklight-multipoint:before,
.geoblacklight-nyu:before,
.geoblacklight-ohio:before,
.geoblacklight-paper-map:before,
.geoblacklight-penn-state:before,
.geoblacklight-point:before,
.geoblacklight-polygon:before,
.geoblacklight-polyline:before,
.geoblacklight-princeton:before,
.geoblacklight-purdue:before,
.geoblacklight-raster:before,
.geoblacklight-stanford:before,
.geoblacklight-tufts:before,
.geoblacklight-ucla:before,
.geoblacklight-uva:before,
.geoblacklight-wisconsin:before {
  display: inline-block;
  font-family: "geoblacklight-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.geoblacklight-baruch-cuny:before { content: "\f100"; }
.geoblacklight-berkeley:before { content: "\f101"; }
.geoblacklight-cd-rom:before { content: "\f102"; }
.geoblacklight-chicago:before { content: "\f12f"; }
.geoblacklight-columbia:before { content: "\f103"; }
.geoblacklight-dvd-rom:before { content: "\f104"; }
.geoblacklight-harvard:before { content: "\f105"; }
.geoblacklight-illinois:before { content: "\f106"; }
.geoblacklight-image:before { content: "\f107"; }
.geoblacklight-indiana:before { content: "\f12e"; }
.geoblacklight-iowa:before { content: "\f108"; }
.geoblacklight-lewis-clark:before { content: "\f12d"; }
.geoblacklight-line:before { content: "\f109"; }
.geoblacklight-maryland:before { content: "\f12a"; }
.geoblacklight-massgis:before { content: "\f10b"; }
.geoblacklight-michigan:before { content: "\f10c"; }
.geoblacklight-michigan-state:before { content: "\f10d"; }
.geoblacklight-minnesota:before { content: "\f10e"; }
.geoblacklight-mit:before { content: "\f10f"; }
.geoblacklight-mixed:before { content: "\f110"; }
.geoblacklight-multipoint:before { content: "\f111"; }
.geoblacklight-nyu:before { content: "\f112"; }
.geoblacklight-ohio:before { content: "\f130"; }
.geoblacklight-paper-map:before { content: "\f113"; }
.geoblacklight-penn-state:before { content: "\f12b"; }
.geoblacklight-point:before { content: "\f115"; }
.geoblacklight-polygon:before { content: "\f116"; }
.geoblacklight-polyline:before { content: "\f117"; }
.geoblacklight-princeton:before { content: "\f118"; }
.geoblacklight-purdue:before { content: "\f119"; }
.geoblacklight-raster:before { content: "\f11a"; }
.geoblacklight-stanford:before { content: "\f11b"; }
.geoblacklight-tufts:before { content: "\f11c"; }
.geoblacklight-ucla:before { content: "\f11d"; }
.geoblacklight-uva:before { content: "\f11e"; }
.geoblacklight-wisconsin:before { content: "\f11f"; }
