//
// Icon Font: geoblacklight-icons
//

@font-face {
  font-family: "geoblacklight-icons";
  src: url("geoblacklight-icons.eot");
  src: url("geoblacklight-icons.eot?#iefix") format("embedded-opentype"),
       url("geoblacklight-icons.woff2") format("woff2"),
       url("geoblacklight-icons.woff") format("woff"),
       url("geoblacklight-icons.ttf") format("truetype"),
       url("geoblacklight-icons.svg#geoblacklight-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "geoblacklight-icons";
    src: url("geoblacklight-icons.svg#geoblacklight-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.geoblacklight-baruch-cuny:before,
.geoblacklight-berkeley:before,
.geoblacklight-cd-rom:before,
.geoblacklight-chicago:before,
.geoblacklight-columbia:before,
.geoblacklight-cornell:before,
.geoblacklight-dvd-rom:before,
.geoblacklight-harvard:before,
.geoblacklight-illinois:before,
.geoblacklight-image:before,
.geoblacklight-indiana:before,
.geoblacklight-iowa:before,
.geoblacklight-lewis-clark:before,
.geoblacklight-line:before,
.geoblacklight-maryland:before,
.geoblacklight-massgis:before,
.geoblacklight-michigan:before,
.geoblacklight-michigan-state:before,
.geoblacklight-minnesota:before,
.geoblacklight-mit:before,
.geoblacklight-mixed:before,
.geoblacklight-multilinestring:before,
.geoblacklight-multipoint:before,
.geoblacklight-multipolygon:before,
.geoblacklight-nyu:before,
.geoblacklight-ohio-state:before,
.geoblacklight-paper-map:before,
.geoblacklight-penn-state:before,
.geoblacklight-point:before,
.geoblacklight-polygon:before,
.geoblacklight-polyline:before,
.geoblacklight-princeton:before,
.geoblacklight-purdue:before,
.geoblacklight-raster:before,
.geoblacklight-stanford:before,
.geoblacklight-table:before,
.geoblacklight-texas:before,
.geoblacklight-tufts:before,
.geoblacklight-ucla:before,
.geoblacklight-uva:before,
.geoblacklight-wisconsin:before {
  display: inline-block;
  font-family: "geoblacklight-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.geoblacklight-baruch-cuny:before { content: "\f100"; }
.geoblacklight-berkeley:before { content: "\f101"; }
.geoblacklight-cd-rom:before { content: "\f102"; }
.geoblacklight-chicago:before { content: "\f12f"; }
.geoblacklight-columbia:before { content: "\f103"; }
.geoblacklight-cornell:before { content: "\f134"; }
.geoblacklight-dvd-rom:before { content: "\f104"; }
.geoblacklight-harvard:before { content: "\f105"; }
.geoblacklight-illinois:before { content: "\f106"; }
.geoblacklight-image:before { content: "\f107"; }
.geoblacklight-indiana:before { content: "\f12e"; }
.geoblacklight-iowa:before { content: "\f108"; }
.geoblacklight-lewis-clark:before { content: "\f12d"; }
.geoblacklight-line:before { content: "\f109"; }
.geoblacklight-maryland:before { content: "\f12a"; }
.geoblacklight-massgis:before { content: "\f10b"; }
.geoblacklight-michigan:before { content: "\f10c"; }
.geoblacklight-michigan-state:before { content: "\f10d"; }
.geoblacklight-minnesota:before { content: "\f10e"; }
.geoblacklight-mit:before { content: "\f10f"; }
.geoblacklight-mixed:before { content: "\f110"; }
.geoblacklight-multilinestring:before { content: "\f132"; }
.geoblacklight-multipoint:before { content: "\f111"; }
.geoblacklight-multipolygon:before { content: "\f131"; }
.geoblacklight-nyu:before { content: "\f112"; }
.geoblacklight-ohio-state:before { content: "\f130"; }
.geoblacklight-paper-map:before { content: "\f113"; }
.geoblacklight-penn-state:before { content: "\f12b"; }
.geoblacklight-point:before { content: "\f115"; }
.geoblacklight-polygon:before { content: "\f116"; }
.geoblacklight-polyline:before { content: "\f117"; }
.geoblacklight-princeton:before { content: "\f118"; }
.geoblacklight-purdue:before { content: "\f119"; }
.geoblacklight-raster:before { content: "\f11a"; }
.geoblacklight-stanford:before { content: "\f11b"; }
.geoblacklight-table:before { content: "\f133"; }
.geoblacklight-texas:before { content: "\f135"; }
.geoblacklight-tufts:before { content: "\f11c"; }
.geoblacklight-ucla:before { content: "\f11d"; }
.geoblacklight-uva:before { content: "\f11e"; }
.geoblacklight-wisconsin:before { content: "\f11f"; }

$font-geoblacklight-icons-baruch-cuny: "\f100";
$font-geoblacklight-icons-berkeley: "\f101";
$font-geoblacklight-icons-cd-rom: "\f102";
$font-geoblacklight-icons-chicago: "\f12f";
$font-geoblacklight-icons-columbia: "\f103";
$font-geoblacklight-icons-cornell: "\f134";
$font-geoblacklight-icons-dvd-rom: "\f104";
$font-geoblacklight-icons-harvard: "\f105";
$font-geoblacklight-icons-illinois: "\f106";
$font-geoblacklight-icons-image: "\f107";
$font-geoblacklight-icons-indiana: "\f12e";
$font-geoblacklight-icons-iowa: "\f108";
$font-geoblacklight-icons-lewis-clark: "\f12d";
$font-geoblacklight-icons-line: "\f109";
$font-geoblacklight-icons-maryland: "\f12a";
$font-geoblacklight-icons-massgis: "\f10b";
$font-geoblacklight-icons-michigan: "\f10c";
$font-geoblacklight-icons-michigan-state: "\f10d";
$font-geoblacklight-icons-minnesota: "\f10e";
$font-geoblacklight-icons-mit: "\f10f";
$font-geoblacklight-icons-mixed: "\f110";
$font-geoblacklight-icons-multilinestring: "\f132";
$font-geoblacklight-icons-multipoint: "\f111";
$font-geoblacklight-icons-multipolygon: "\f131";
$font-geoblacklight-icons-nyu: "\f112";
$font-geoblacklight-icons-ohio-state: "\f130";
$font-geoblacklight-icons-paper-map: "\f113";
$font-geoblacklight-icons-penn-state: "\f12b";
$font-geoblacklight-icons-point: "\f115";
$font-geoblacklight-icons-polygon: "\f116";
$font-geoblacklight-icons-polyline: "\f117";
$font-geoblacklight-icons-princeton: "\f118";
$font-geoblacklight-icons-purdue: "\f119";
$font-geoblacklight-icons-raster: "\f11a";
$font-geoblacklight-icons-stanford: "\f11b";
$font-geoblacklight-icons-table: "\f133";
$font-geoblacklight-icons-texas: "\f135";
$font-geoblacklight-icons-tufts: "\f11c";
$font-geoblacklight-icons-ucla: "\f11d";
$font-geoblacklight-icons-uva: "\f11e";
$font-geoblacklight-icons-wisconsin: "\f11f";
